
<div
class="w-[440px] sm:w-[240px] h-[123px] rounded-[17px] bg-white shadow-md flex px-5 sm:gap-3 gap-8 sm:px-3 mt-4 items-center dark:bg-[#2A2A2A]">
  <img [src]="icon" alt="" class="sm:w-14 w-20"/>
  <div class="flex flex-col gap-2 justify-center ">
    <p class="text-[#93A3AB] font-medium text-sm dark:text-[#B0B0B0]">{{ title | translate }}</p>
    <div class="flex items-center gap-2">
      <p class="text-2xl font-bold">{{ amount }}</p>
      <div
        *ngIf="change != null"
        [ngStyle]="{
          background: change == '-5.5' ? '#F4E3E3' : '#E3F4E3',
          color: change == '-5.5' ? '#C56565' : '#65C565'
        }"
        class="w-[70px] rounded-[11.58px] bg-slate-500 text-center mt-1 font-medium text-sm"
      >
        {{ change }}%
      </div>
    </div>
  </div>
</div>
