<!-- <P class="font-bold text-black">Analytics</P>
<div class="flex gap-3 mt-2">
  <app-analytics-card
    *ngFor="let item of analyticsData"
    [title]="item.title"
    [icon]="item.icon"
    [change]="item.change"
    [amount]="item.amount"
  ></app-analytics-card>
</div> -->

<p class="font-bold text-black text-lg md:text-xl">Analytics</p>

<div class="flex gap-3 mt-2">
  <app-analytics-card
    *ngFor="let item of analyticsData"
    [title]="item.title"
    [icon]="item.icon"
    [change]="item.change"
    [amount]="item.amount"
  ></app-analytics-card>
</div>
