<nav class="bg-white hidden lg:flex items-center justify-between py-3 px-6">
  <div class="flex items-center justify-between w-[40%]">
    <div
      class="w-[522px] bg-[#F8FAFB] text-[#C1CACE] p-3 m-auto rounded-[8px] flex items-center gap-3 px-5"
    >
      <svg
        class="w-5 h-5 text-gray-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8.5 3a5.5 5.5 0 1 1 0 11 5.5 5.5 0 0 1 0-11zM2 8.5a6.5 6.5 0 1 1 11.29 4.293l4.208 4.208a1 1 0 0 1-1.415 1.415l-4.208-4.208A6.5 6.5 0 0 1 2 8.5z"
        ></path>
      </svg>
      <input
        type="text"
        class="bg-transparent outline-none w-full"
        placeholder="Search"
      />
    </div>
  </div>

  <div class="flex items-center justify-start gap-4">
    <div
      class="w-[35px] h-[35px] flex justify-center items-center rounded-[8px] bg-[#E7EDF0]"
    >
      <i style="color: #9dacb4" class="pi pi-briefcase"></i>
    </div>
    <div
      class="w-[35px] h-[35px] flex justify-center items-center rounded-[8px] bg-[#E7EDF0] relative"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="#9DACB4"
      >
        <path
          d="M 10.5 2 L 10.5 4.1992188 C 7.9210135 4.8705935 6 7.2184253 6 10 L 6 16 L 4 18 L 4 19 L 20 19 L 20 18 L 18 16 L 18 10 C 18 7.2184253 16.078986 4.8705935 13.5 4.1992188 L 13.5 2 L 10.5 2 z M 10 20 C 10 21.1 10.9 22 12 22 C 13.1 22 14 21.1 14 20 L 10 20 z"
        ></path>
      </svg>

      <i
        class="pi pi-circle-fill absolute z-10 top-0 right-0 bottom-3 w-[10px]"
        style="color: #fb7b7b; font-size: 12px"
      ></i>
    </div>
    <div
    class=" me-3 flex items-center gap-2 h-[40px] px-4 font-semibold text-[#0561FC] border border-[#0561FC] rounded-lg hover:bg-[#0561FC] hover:text-white transition duration-300 cursor-pointer"
  >
    <i class="pi pi-sign-in"></i>
    <a routerLink="/login">Log in</a>
  </div>
  

    <!-- isLogin -->

    <!-- 
    <div class="w-[153px] h-[35px] flex gap-3 items-center relative"> 
      <img
        class="w-[35px] h-[35px] object-cover"
        src="Rectangle 23.svg"
        alt=""
      />

      <p class="text-black font-bold">Esraa Ali</p>
      <i
        (click)="openDropdown()"
        class="pi pi-chevron-down"
        style="
          font-size: 12px;
          font-weight: bold;
          color: #2c3e50;
          cursor: pointer;
        "
      ></i>
      <div
        *ngIf="isShow"
        class="absolute top-8 right-1 z-50 my-4 w-[170px] rounded-[8px] text-base list-none bg-white divide-y divide-gray-100 shadow-lg dark:bg-gray-700 dark:divide-gray-600"
      >
        <div class="px-4 py-3" role="none">
          <p
            class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
          >
            esraaaligmail.com
          </p>
        </div>
        <ul class="py-1" role="none">
          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem"
              >Settings</a
            >
          </li>

          <li>
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem"
              >Sign out</a
            >
          </li>
        </ul>
      </div>
    </div>  -->
  </div>
</nav>
