<button
  (click)="openSidebar()"
  class="inline-flex items-center justify-center m-6 p-2 rounded-lg bg-white shadow-md text-gray-700 hover:bg-gray-200 transition duration-300 lg:hidden"
>
  <svg
    class="w-7 h-7"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  class="fixed top-0 left-0 pt-3 h-screen z-40 w-[250px] max-w-[300px] bg-white border-r border-gray-200 transition-transform duration-300 ease-in-out lg:translate-x-0"
  [ngClass]="{ '-translate-x-full': !isOpen }"
>
  <div class="flex flex-row-reverse">
    <div class="block lg:hidden">
      <i
        class="pi pi-times"
        style="margin-right: 10px; cursor: pointer"
        (click)="closeSidebar()"
      ></i>
    </div>
    <div
      class="flex items-center font-bold justify-center gap-2 w-[140px] m-auto text-sm"
    >
      <img src="Frame.svg" alt="" />
      <p>Manager</p>
      <p class="text-secondary">Pro</p>
    </div>
  </div>
  <div class="px-2 h-[470px] 800 mt-4">
    <ul class="space-y-1 font-medium text-sm">
      <li *ngFor="let item of menuItems; let i = index">
        <a
          [routerLink]="item.route"
          [class.active]="selectedIndex === i"
          (click)="setIndex(i)"
          class="flex items-center cursor-pointer justify-between w-[207px] px-5 py-3 rounded-[8px] text-[#aeb9be] dark:hover:bg-gray-700 group"
        >
          <a class="flex items-center justify-between">
            <i [class]="item.icon"></i>

            <span
              [ngStyle]="{
                color: item.label === 'Messages' ? '#474747' : ''
              }"
              class="ms-3 font-bold"
              >{{ item.label }}</span
            >
          </a>
          <i
            *ngIf="item.label === 'Messages'"
            class="pi pi-circle-fill w-[20px]"
            style="color: #fb7b7b; font-size: 14px"
          ></i>
        </a>

        <div
          *ngIf="item.label === 'Reports'"
          class="h-[1px] m-3 bg-[#E4EBEF]"
        ></div>
      </li>
    </ul>
  </div>

  <div
    class="w-[207px] h-[50px] bg-[#E9F0F3] flex items-center px-2 mx-2 mt-5 rounded-[8px] justify-between"
  >
    <div class="flex items-center gap-3">
      <img class="w-[35px] h-[40px] rounded-md" src="Rectangle 26.svg" alt="" />
      <div class="flex flex-col justify-center">
        <span class="text-black font-bold text-sm">Artisan Ukraine</span>
        <span class="font-medium text-[#ABB7BC] text-sm">Company</span>
      </div>
    </div>

    <i class="pi pi-chevron-right text-[#ABB7BC]" style="font-size: 12px"></i>
  </div>
</aside>
