<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg p-8 md:w-96 w-full md:mx-0 mx-6">
    <h2 class="text-center text-gray-600 mt-2">
      {{ isLogin ? "Sign in to your account" : "Sign up your account" }}
    </h2>

    <form [formGroup]="authForm" class="mt-6">
      <!-- Username (isLogin) -->
      <div *ngIf="!isLogin">
        <label class="block text-sm font-medium text-gray-700">Username</label>
        <input
          type="text"
          formControlName="username"
          class="mt-1 w-full px-3 py-2 border rounded-lg outline-none"
          placeholder="username"
        />
        <p
          class="text-red-500 text-sm mt-1"
          *ngIf="isSubmitted && formControls['username'].errors"
        >
          <span *ngIf="formControls['username'].errors?.['required']"
            >* This field  required</span
          >
        </p>
      </div>

      <!-- Email -->
      <div class="mt-4">
        <label class="block text-sm font-medium text-gray-700">Email</label>
        <input
          type="email"
          formControlName="email"
          class="mt-1 w-full px-3 py-2 border rounded-lg outline-none"
          placeholder="hello@example.com"
        />
        <p
          class="text-red-500 text-sm mt-1"
          *ngIf="isSubmitted && formControls['email'].errors"
        >
          <span *ngIf="formControls['email'].errors?.['required']"
            >* Email is required</span
          >
          <span *ngIf="formControls['email'].errors?.['email']"
            >* Please enter a valid email</span
          >
        </p>
      </div>

      <!-- Password -->
      <div class="mt-4">
        <label class="block text-sm font-medium text-gray-700">Password</label>
        <input
          type="password"
          formControlName="password"
          class="mt-1 w-full px-3 py-2 border rounded-lg outline-none"
          placeholder="********"
        />
        <p
          class="text-red-500 text-sm mt-1"
          *ngIf="isSubmitted && formControls['password'].errors"
        >
          <span *ngIf="formControls['password'].errors?.['required']"
            >* Password is required</span
          >
          <span *ngIf="formControls['password'].errors?.['minlength']">
            * Password must be at least 8 characters
          </span>
        </p>
      </div>

      <div *ngIf="isLogin" class="flex items-center justify-between mt-4">
        <label class="flex items-center">
          <input type="checkbox" class="mr-2" />
          <span class="text-sm text-gray-600">Remember me</span>
        </label>
        <a href="#" class="text-sm text-blue-500">Forgot Password?</a>
      </div>

      <button
        (click)="onSubmit()"
        type="button"
        class="mt-6 w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-400 transition cursor-pointer"
      >
        {{ isLogin ? "Sign In" : "Sign Up" }}
      </button>
    </form>

    <p class="mt-4 text-center text-sm text-gray-600">
      {{ isLogin ? "Don't have an account?" : "Already have an account?" }}
      <a
        href="#"
        class="text-blue-500"
        (click)="isLogin = !isLogin; isSubmitted = false"
      >
        {{ isLogin ? "Sign up" : "Sign in" }}
      </a>
    </p>
  </div>
</div>
