<div class="flex justify-center items-center min-h-screen bg-gray-100 dark:bg-[#121212]">
  <div class="bg-white shadow-lg rounded-lg p-8 md:w-96 w-full md:mx-0 mx-6 dark:bg-[#222831]">
    <h2 class="text-center text-gray-600 mt-2 font-bold dark:text-[#A0A0A0]">
      {{ isLogin ? ('auth.signInToAccount' | translate) : ('auth.signUpYourAccount' | translate) }}
    </h2>

    <form [formGroup]="authForm" class="mt-6">
      <!-- Username (isLogin) -->
      <div *ngIf="!isLogin">
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-400">
          {{ 'auth.username' | translate }}
        </label>
        <input
          type="text"
          formControlName="username"
          class="mt-1 w-full px-3 py-2 border text-gray-500 rounded-lg outline-none"
          [placeholder]="'auth.username' | translate"
        />
        <p class="text-red-500 text-sm mt-1" *ngIf="isSubmitted && formControls['username'].errors">
          <span *ngIf="formControls['username'].errors?.['required']">
            {{ 'auth.usernameRequired' | translate }}
          </span>
          <span *ngIf="formControls['username'].errors?.['pattern']">
            {{ 'auth.usernameInvalid' | translate }}
          </span>
        </p>
        
      </div>

      <!-- Email -->
      <div class="mt-4">
        <label class="block text-sm font-medium text-gray-700 dark:text-[#A0A0A0]">
          {{ 'auth.email' | translate }}
        </label>
        <input
          type="email"
          formControlName="email"
          class="mt-1 w-full px-3 py-2 text-gray-500  border rounded-lg outline-none"
          [placeholder]="'auth.email' | translate"
        />
        <p class="text-red-500 text-sm mt-1" *ngIf="isSubmitted && formControls['email'].errors">
          <span *ngIf="formControls['email'].errors?.['required']">
            {{ 'auth.emailRequired' | translate }}
          </span>
          <span *ngIf="formControls['email'].errors?.['email']">
            {{ 'auth.emailInvalid' | translate }}
          </span>
        </p>
      </div>

      <!-- Password -->
      <div class="mt-4">
        <label class="block text-sm font-medium text-gray-700 dark:text-[#A0A0A0]">
          {{ 'auth.password' | translate }}
        </label>
        <input
          type="password"
          formControlName="password"
          class="mt-1 w-full px-3 py-2 text-gray-500 border rounded-lg outline-none"
          placeholder="********"
        />
        <p class="text-red-500 text-sm mt-1" *ngIf="isSubmitted && formControls['password'].errors">
          <span *ngIf="formControls['password'].errors?.['required']">
            {{ 'auth.passwordRequired' | translate }}
          </span>
          <span *ngIf="formControls['password'].errors?.['minlength']">
            {{ 'auth.passwordMinLength' | translate }}
          </span>
        </p>
      </div>

      <div *ngIf="isLogin" class="flex items-center justify-between mt-4">
        <label class="flex items-center">
          <input type="checkbox" class="mr-2" />
          <span class="text-sm text-gray-600 dark:text-[#A0A0A0]">
            {{ 'auth.rememberMe' | translate }}
          </span>
        </label>
        <a href="#" class="text-sm text-blue-500">
          {{ 'auth.forgotPassword' | translate }}
        </a>
      </div>

      <button
        (click)="onSubmit()"
        type="submit"
        class="mt-6 w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-400 transition cursor-pointer dark:bg-[#007AFF]"
      >
        {{ isLogin ? ('auth.signIn' | translate) : ('auth.signUp' | translate) }}
      </button>
    </form>

    <p class="mt-4 text-center text-sm text-gray-600 dark:text-[#A0A0A0]">
      {{ isLogin ? ('auth.dontHaveAccount' | translate) : ('auth.alreadyHaveAccount' | translate) }}
      <a  class="text-blue-500 cursor-pointer" (click)="isLogin = !isLogin; isSubmitted = false">
        {{ isLogin ? ('auth.signUp' | translate) : ('auth.signIn' | translate) }}
      </a>
    </p>
  </div>
</div>
