<div class="">
  <div
    class="bg-white rounded-[17px] p-4 sm:w-[99%] w-full shadow-lg dark:bg-[#222222]"
  >
    <header
      class="flex justify-between rounded-[4px] sm:px-4 px-2 py-3 bg-[#F7F9FA] text-[#A6A9AA] sm:text-sm text-xs font-medium dark:bg-[#333333] dark:text-[#CCCCCC]"
    >
      <p class="sm:w-[30%] w-[18%]">Item Name</p>
      <p class="w-[10%] text-center">Qty</p>
      <p class="sm:w[20%] w-[15%] text-center">Order Date</p>
      <p class="sm:w-[15%] w-[10%] text-center">Amount</p>
      <p class="sm:w-[10%] w-[8%] text-center">Status</p>
    </header>

    <ng-container *ngFor="let cart of paginatedOrders">
      <main
        *ngFor="let product of cart.products"
        class="flex justify-between items-center sm:px-4 px-0 sm:py-3 py-2 dark:text-[#E0E0E0]"
      >
        <div
          class="flex items-center sm:w-[30%] w-[20%] gap-2 sm:text-sm text-xs"
        >
          <img [src]="product.thumbnail" alt="{{ product.id }}" width="40" />

          <p class="font-medium">{{ product.title }}</p>
        </div>

        <p class="w-[10%] text-center dark:text-[#E0E0E0]">
          {{ product.quantity }}
        </p>

        <p
          class="sm:w[20%] w-[15%] sm:text-sm text-xs text-[#A7AEB1] text-center dark:text-[#E0E0E0]"
        >
          {{ product.date }}
        </p>

        <p
          class="sm:w-[15%] w-[10%] text-[#3C3C3C] sm:text-sm text-xs font-medium text-center dark:text-[#E0E0E0]"
        >
          ${{ +product.total.toString().slice(0, 5) }}
        </p>

        <div class="sm:w-[10%] w-[12%] text-center">
          <span
            [ngClass]="{
              'bg-[#DFF0FF] text-[#0561FC]': product.status === 'Pending',
              'bg-[#E6FDE6] text-[#78C278]': product.status === 'Approved',
              'bg-[#FFF4DF] text-[#FAA86D]': product.status === 'In Process',
              'bg-[#F4E3E3] text-[#C56565]': product.status === 'Cancelled'
            }"
            class="py-2 sm:px-3 px-1 rounded-[5px] text-[10px] sm:font-bold whitespace-nowrap"
          >
            {{ product.status }}
          </span>
        </div>
      </main>
    </ng-container>
  </div>
</div>

<app-pagination
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  [totalItems]="orders.length"
  (pageChange)="onPageChange($event)"
></app-pagination>
